@import "../../theme";

.text-list {
    border: @size-border solid @color-border2;
    border-radius: @dp-radius-xs;
    margin-bottom: 0;
    min-width: 0;
    overflow-x: hidden;
    overflow-y: auto;

    &__textbox.textbox {
        border: none;
        border-bottom: @size-border solid @color-border;
        border-radius: 0;
        box-sizing: border-box;
        flex: none;
        height: @size-control-inner;
        width: 100%;
        background-color: transparent;
        font-size: @size-text-small;
        transition: background-color @time-fast;

        &:focus {
            background-color: @dp-surface3;
            border-bottom-color: @color-control-active;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &::-webkit-scrollbar {
        width: @size-scrollbar-thickness;

        &-thumb {
            border-left: none;
        }
    }
}
