@import "../../theme.less";

.message-box {
    background-color: @color-back;
    border: @size-border solid @color-border2;
    border-radius: @dp-radius-sm;
    display: flex;
    flex-direction: column;
    padding: @indent-large;
    min-width: 12rem;
    max-width: 18rem;
    width: 100%;
    margin: 0 auto;

    &__caption {
        color: @txt;
        font-size: @size-text-normal;
        line-height: @size-text-normal-height;
        margin: 0 0 @indent-small;
        text-align: center;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: @indent-small;
        margin-top: @indent-small;
    }

    &__button {
        min-width: 4rem;
    }

    &__button-ok {
        border-color: @color-border2;
    }
}
