@store_listing
Toto rozšírenie je šetrné k očiam, vytvára nočný režim pre stránky za pochodu. DARK PLEASE! invertuje jasné farby a robí ich kontrastnejšími, čím sa zlepšuje ich čitateľnosť v noci.

Upravovať môžete jas, kontrast, sépiový filter, tmavý režim, nastavenia písma a zoznam ignorovaných stránok.

DARK PLEASE! Plus odomkne prémiové používateľské rozhranie s prispôsobiteľnými farebnými témami za poplatok.

Toto je pôvodné rozšírenie DARK PLEASE!. Od roku 2014 sa neustále vyvíjame spolu s modernými webovými technológiami, aby sme poskytovali rýchlu a spoľahlivú podporu tmavého režimu pre ľudí citlivých na jasné svetlo.

Inštaláciou rozšírenia súhlasíte s podmienkami používania https://github.com/AREKKUZZERA/darkplease/blob/main/LICENSE

Prosím, zakážte podobné rozšírenia, aby ste predišli konfliktom. Prajeme vám príjemné prehliadanie!
