@store_listing
Ово проширење брине о вашим очима тако што омогућава тамну тему за сајтове. DARK PLEASE! инвертује светле боје и појачава контраст, што омогућава лакше читање ноћу.

Можете подесити осветљеност, контраст, сепија филтер, фонт преференце, бирати између тамног и shader режима, и омогућити или онемогућити проширење за специфичне сајтове.

DARK PLEASE! Plus уз накнаду откључава premium кориснички интерфејс са прилагођеним темама.

Ово је оригинално проширење DARK PLEASE!. Од 2014. године, континуирано се развијамо заједно са модерним веб технологијама како бисмо пружили брзу и поуздану подршку за тамни режим за људе осетљиве на јаку светлост.

Инсталирањем проширења прихватате ове услове коришћења https://github.com/AREKKUZZERA/darkplease/blob/main/LICENSE

Молимо вас да онемогућите слична проширења да бисте избегли сукобе. Уживајте у прегледању!
