@import "../../../theme";

.static-edit-button {
    background-color: @color-heading;
    border-radius: @dp-radius-xs;
    color: @color-control-fore;
    cursor: pointer;
    font-size: @size-text-small;
    line-height: @size-text-small-height;
    left: 0.25rem;
    min-width: @size-text-small-height;
    padding: 2px 6px;
    position: absolute;
    text-align: center;
    top: 0.25rem;
    transition: filter @time-fast;

    &--hidden {
        display: none;
    }

    &::before {
        content: "\270E";
        line-height: @size-text-small-height;
    }

    &:hover {
        filter: brightness(1.15);
    }
}

.mode-control-container {
    height: @size-control-inner;
    position: relative;
    width: 100%;
}
