@color-back: #181818;
@color-fore: #f3f3f3;

@color-control-back: #212121;
@color-control-hover: #2a2a2a;
@color-control-active: #ff279d;
@color-control-fore: #f3f3f3;
@color-control-fore-inactive: #b8b8b8;

@color-input-back: #212121;
@color-input-hover: #2a2a2a;
@color-input-active: #303030;
@color-input-fore: #e5e5e5;
@color-input-fore-active: #ffffff;
@color-input-fore-placeholder: #9a9a9a;

@color-border: #3f3f3f;
@color-heading: #ff279d;
@color-error: #db4245;
@color-ok: #317c4e;
@color-ok-fore: #f3f3f3;
@color-selection-back: #ff279d;
@color-selection-fore: #ffffff;

@font-family: Open Sans, Segoe UI, Helvetica Neue, Ubuntu, sans-serif;

@size-border: 0.0625rem;
@size-border-inner: 0.0625rem;
@size-control-inner: 1.5rem;
@size-control-description: 0.75rem;
@size-scrollbar-padding: 0.25rem;
@size-scrollbar-thickness: 0.75rem;
@size-text-normal: 0.75rem;
@size-text-normal-height: 1rem;
@size-text-small: 0.625rem;
@size-text-small-height: 0.875rem;
@size-text-large: 0.875rem;
@size-text-large-height: 1rem;

@indent-large: 0.75rem;
@indent-small: 0.5rem;

@time-fast: 125ms;
@time-slow: 250ms;
