@import "../../theme";

.toggle {
  background-color: @s4;
  border: 1px solid @b2;
  border-radius: 999px;
  box-sizing: content-box;
  color: @txt;
  display: inline-flex;
  height: @size-control-inner;
  overflow: hidden;
  position: relative;
  user-select: none;

  &__btn {
    align-items: center;
    color: @mut;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: color @time-fast;
    white-space: nowrap;
    width: 50%;
    z-index: 1;
    font-size: @size-text-small;
    font-weight: 600;
    letter-spacing: 0.02em;

    &:hover:not(&--active) { color: @txt; }
    &--active:hover        { color: @txt; }
  }

  &::before {
    background-color: @acc;
    border-radius: 999px;
    content: "";
    display: inline-block;
    height: calc(100% - 0.3rem);
    left: calc(50% + 0.15rem);
    position: absolute;
    top: 0.15rem;
    transition: left @time-fast cubic-bezier(0.34,1.56,0.64,1);
    width: calc(50% - 0.3rem);
  }

  &--checked::before { left: 0.15rem; }

  &--checked &__btn:first-child,
  &:not(&--checked) &__btn:last-child { color: @txt; }
}
