@import "../../theme.less";

.check-button {
    .checkbox {
        width: calc(100% - 2 * @size-border);
        border-radius: @dp-radius-xs;
        height: @size-control-inner;

        &__checkmark {
            background-color: @dp-surface3;
            border-radius: @dp-radius-xs - 2px;
            transition: background-color @time-fast;

            &::before,
            &::after {
                display: none;
            }
        }

        &__content {
            align-items: center;
            display: flex;
            flex: auto;
            height: @size-control-inner;
            justify-content: center;
            -moz-user-select: none;
            user-select: none;
            font-size: @size-text-small;
            font-weight: 500;
            color: @color-control-fore-inactive;
            transition: color @time-fast;
        }

        &__input:checked ~ * {
            color: #fff;
        }

        &__input:checked ~ .checkbox__checkmark {
            background-image: @icon-check;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 0.875rem;
            background-color: @color-control-active;
        }
    }

    &__description {
        display: inline-block;
        font-size: @size-text-small;
        line-height: @size-text-small-height;
        text-align: center;
        -moz-user-select: none;
        user-select: none;
        width: 100%;
        color: @color-control-fore-inactive;
    }
}
