@import "../../theme.less";

.check-button {
    width: 100%;

    .control-group__control {
        width: 100%;
    }

    .checkbox {
        width: 100%;
        border-radius: @dp-radius-xs;
        height: @size-control-inner;
        border-color: @color-border2;
        display: flex;
        flex-direction: row;
        align-items: stretch;

        &__checkmark {
            flex-shrink: 0;
            width: @size-control-inner;
            height: @size-control-inner;
            background-color: @dp-surface3;
            border-radius: @dp-radius-xs - 2px;
            transition: background-color @time-fast;
            position: relative;

            &::before,
            &::after {
                display: none;
            }
        }

        &__content {
            align-items: center;
            display: flex;
            flex: 1;
            height: @size-control-inner;
            justify-content: center;
            -moz-user-select: none;
            user-select: none;
            font-size: @size-text-small;
            font-weight: 500;
            color: @color-control-fore-inactive;
            transition: color @time-fast;
        }

        &__input:checked ~ * {
            color: #fff;
        }

        &__input:checked ~ .checkbox__checkmark {
            background-image: @icon-check;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 0.875rem;
            background-color: @color-control-active;
        }
    }

    &__description {
        display: block;
        font-size: @size-text-small;
        line-height: @size-text-small-height;
        text-align: center;
        -moz-user-select: none;
        user-select: none;
        width: 100%;
        color: @color-control-fore-inactive;
    }
}
