@import "../../theme";

.textbox {
    background-color: @dp-surface2;
    border: @size-border solid @color-border2;
    border-radius: @dp-radius-xs;
    box-sizing: content-box;
    color: @color-input-fore;
    font-family: @font-family;
    font-size: @size-text-normal;
    height: @size-control-inner;
    outline: none;
    padding: 0 0.5rem;
    transition: border-color @time-fast, background-color @time-fast;

    &::placeholder {
        color: @color-input-fore-placeholder;
    }

    &:hover {
        background-color: @dp-surface3;
        border-color: @color-border2;
    }

    &:focus {
        background-color: @dp-surface3;
        border-color: @color-control-active;
    }
}
