@import "../../theme";

.button {
  background-color: @s2;
  border: 1px solid @b2;
  border-radius: @dp-radius-xs;
  box-sizing: content-box;
  color: @txt;
  cursor: pointer;
  display: inline-block;
  height: @size-control-inner;
  line-height: @size-text-normal;
  min-width: @size-control-inner;
  outline: none;
  overflow: hidden;
  padding: 0;
  text-align: center;
  transition: background-color @time-fast, border-color @time-fast, transform 80ms;
  user-select: none;
  font-weight: 600;
  letter-spacing: 0.02em;

  &:hover  { background-color: @s3; border-color: @b3; }
  &:active { background-color: @s4; transform: scale(0.97); }

  &__wrapper { height: 100%; width: 100%; }
}
