@import "../../theme";

.button {
    background-color: @dp-surface2;
    border: @size-border solid @color-border2;
    border-radius: @dp-radius-xs;
    box-sizing: content-box;
    color: @color-control-fore;
    cursor: pointer;
    display: inline-block;
    height: @size-control-inner;
    line-height: @size-text-normal;
    min-width: @size-control-inner;
    outline: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    transition: background-color @time-fast, border-color @time-fast, transform 80ms;
    user-select: none;
    font-weight: 500;

    &:hover {
        background-color: @dp-surface3;
        border-color: @color-border2;
    }

    &:active {
        background-color: @dp-surface3;
        transform: scale(0.97);
    }

    &__wrapper {
        height: 100%;
        width: 100%;
    }
}
