@import "../../../theme";

.site-list-settings {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: @indent-small;
  padding-bottom: @indent-small;

  &__toggle { width: calc(100% - 2px); }

  &__text-list {
    flex: auto;
    min-height: 3rem;
  }

  &__shortcut {
    color: @mut;
    font-size: @size-text-small;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.4;
  }
}
