@import "../../../theme";

.site-list-settings {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: @indent-small;
    padding-bottom: @indent-small;

    &__description {
        color: @color-control-fore-inactive;
        font-size: @size-text-small;
        line-height: @size-text-small-height;
        text-align: center;
        letter-spacing: 0.02em;
    }
}
