@import "../../theme";

.multi-switch {
    background-color: @dp-surface2;
    border: @size-border solid @color-border;
    border-radius: 999px;
    box-sizing: content-box;
    color: @color-control-fore;
    display: inline-flex;
    height: @size-control-inner;
    overflow: hidden;
    padding: 3px;
    gap: 2px;
    position: relative;
    user-select: none;

    &__option {
        align-items: center;
        color: @color-control-fore-inactive;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        position: relative;
        transition: color @time-fast;
        white-space: nowrap;
        z-index: 1;
        border-radius: 999px;
        flex: 1;
        font-size: @size-text-small;
        font-weight: 500;

        &:hover:not(&--selected) {
            color: @color-control-fore;
            background: @dp-surface3;
        }

        &--selected {
            color: @color-control-fore;
        }

        &--selected:hover {
            color: @color-control-fore;
        }
    }

    &__highlight {
        background-color: @color-control-active;
        border-radius: 999px;
        display: inline-block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: left @time-fast cubic-bezier(0.4, 0, 0.2, 1), width @time-fast cubic-bezier(0.4, 0, 0.2, 1);
        width: 0;
    }
}
