@import "../../../theme";

.custom-settings-toggle {
    color: @color-fore;
    white-space: normal;
    border-radius: @dp-radius-xs;
    transition: background-color @time-fast, color @time-fast, border-color @time-fast, transform 80ms;
    font-size: @size-text-small;
    font-weight: 500;

    &--checked,
    &:active,
    &--checked:hover {
        background-color: @color-control-active;
        border-color: @color-control-active;
        color: #fff;
        transition: background-color @time-fast, color @time-fast;
    }

    &--disabled {
        opacity: 0.45;
        pointer-events: none;
    }

    &__url {
        color: @color-control-fore;
        -moz-user-select: none;
        user-select: none;
    }

    &:active {
        transform: scale(0.97);
    }

    .button__wrapper {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        min-width: @popup-content-width - 2 * @size-border;
    }
}
