@import "../../../theme";

.custom-settings-toggle {
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 100%;

    &__info {
        border-left-width: @size-border;
        flex: auto;
        border-radius: 0 @dp-radius-xs @dp-radius-xs 0;
        font-size: @size-text-small;
        letter-spacing: 0.02em;

        &:not(&--active) { color: @color-input-fore; }
    }

    &:hover &__info,
    &:hover .checkbox {
        background-color: @dp-surface3;
    }

    &:hover &__info--active {
        background-color: lighten(@color-control-active, 3%);
    }
}
